$background-color: #fff6f0;
$secondary-color: #8F3457;

$font-stack: "Plus Jakarta Sans", Helvetica, sans-serif;

/* Mixins */
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin card {
    margin-top: 1rem;
    background-color: #FFFFFF;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 3px 14px 0 rgba(0, 0, 0, 0.05);
}

/* Base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
    color: #000000;
    font-family: $font-stack;
    line-height: 1.4;
    font-size: 14px;
    text-align: left;
}

h1, h2, h3, h4 {
    font-family: "Inter Tight", Arial, sans-serif;
}

h1 {
    font-size: 28px;
    margin-bottom: 1rem;
    text-align: center;
}

h2 {
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 1rem;
}

h3 {
    font-size: 18px;
}

h4 {
    font-size: 16px;
}

.btn {
    border: transparent;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem 1rem;
    transition: transform 0.5s ease;

    &:hover {
        filter: drop-shadow(0 0 5px #d8a7bd);
        transform: scale(1.05);
    }
}