$background-color: #fff6f0;
$secondary-color: #781c3f;

$font-stack: "Raleway", Helvetica, sans-serif;

/* Mixins */
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin card {
    margin-top: 1rem;
    background-color: #FFFFFF;
    padding: 1rem 0.5rem;
    border-radius: 10px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0px 3px 14px 0px rgba(0, 0, 0, 0.05);
}

/* Base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $background-color;
    font-family: $font-stack;
    line-height: 1.5;
    text-align: left;
}

h1, h2 {
    font-family: "Roboto";
    margin-bottom: 1rem;
}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 24px;
}

.btn {
    font-size: 18px;
    font-weight: 600;
    border: 1px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    background-color: #781c3f;
    color: #ebcedb;
    padding: 0.5rem 1rem;

    &:hover {
        background-color: #ebcedb;
        color: #781c3f;
    }
}