@use "base";
@use "keyframes";

.container {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}

.animation-wrapper {
    animation: fadeIn 1.5s ease-in forwards;
}

.hidden {
    display: none;
}

header {
    @include base.flex-center;
    color: #FFFFFF;

    .logo {
        padding: 1rem 0.5rem;

        img {
            max-width: 100px;
        }
    }
}

.main-content {
    @include base.flex-center;
    flex-direction: column;
    padding: 1rem 0.5rem 2rem 0.5rem;
}

.spinner {
    width: 50px;
    height: 50px;
    margin: 1rem;
    border: 5px solid #d181a1;
    border-top-color: base.$secondary-color;
    border-radius: 50%;
    animation: rotate 0.8s infinite linear;
}

.search-section {
    @include base.card;
    margin-top: 2rem;
    margin-bottom: 1rem;

    form {
        display: flex;
        justify-content: space-between;
        gap: 0.6rem;

        input {
            padding: 1rem 0.5rem;
            border: 1px solid #E1DCD7;
            border-radius: 10px;
            width: 100%;
            font-size: 16px;

            &:focus {
                outline: none;
                border-color: #d8d1cb;
                box-shadow: 0 0 5px #E1DCD7;
            }
        }
    }

    .search-btn {
        font-size: 16px;
        font-weight: 600;
        background: linear-gradient(80deg, #d8a7bd 25%, #d181a1 50%, #96415E 75%, #8f3457 100%);
        color: base.$background-color;
    }
}

.saved-books,
.author-section,
.card-section {
    width: 100%;
    max-width: 500px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

#author-info-card {
    @include base.card;

    .author-wrapper {
        display: flex;
        align-items: center;
        gap: 2rem;

        img {
            width: 120px;
            height: 120px;
            object-fit: cover;
            border-radius: 50%;
        }

        .author-info {
            display: flex;
            flex-direction: column;
        }
    }
}

.book-card {
    @include base.card;
    display: flex;
    gap: 1rem;
    transition: transform 0.4s ease;

    &:hover {
        transform: translateY(-4px);
    }

    img {
        width: 100px;
        height: 100%;
        max-width: 100%;
        border-radius: 10px;
    }

    .book-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.2rem;

        .save-btn {
            min-width: 150px;
            background-color: base.$secondary-color;
            color: base.$background-color;

            &:disabled {
                background-color: #E1DCD7;
                opacity: 0.7;
                cursor: auto;

                &:hover {
                    filter: none;
                    transform: none;
                }
            }
        }
    }
}

.saved-card-info {
    @include base.card;
    gap: 0.2rem;
    padding: 0.5rem 1rem;
    transition: transform 0.4s ease;

    &:hover {
        transform: translateY(-4px);
    }

    .saved-card-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0.5rem;

        .delete-btn {
            background-color: #E1DCD7;
            color: #FFFFFF;
            margin-top: 0.2rem;
        }
    }
}

@media (max-width: 600px) {
    .book-card {
        img {
            width: 80px;
        }
    }
}